html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Geogrotesque";
    src: local("../fonts/Geogrotesque.otf"),
        url(../fonts/Geogrotesque.otf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: "Geogrotesque Bold";
    src: local("../fonts/GeogrotesqueBold.otf"),
        url(../fonts/GeogrotesqueBold.otf) format("opentype");
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
